/****** general ******/
/****** colors ******/
/****** fonts system ******/
/***** variables ******/
/****** family ******/
/****** weight ******/
/****** size *****/
/****** mixins ******/
/****** family ******/
/****** weight ******/
/****** size ******/
/****** placeholders ******/
.title-h1h4__h1t__restaurant-name, .title-h1h4 {
  font-family: "Shrikhand", sans-serif;
}

* {
  font-family: "Roboto", sans-serif;
}

.paragraph__menutext__price, .title-h2h3 {
  font-weight: 700;
}

.paragraph__button, .paragraph, .title-h2h3__h3t__menu-title {
  font-weight: 500;
}

.paragraph__reservation {
  font-weight: 300;
}

/****** end fonts system ******/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.load {
  display: flex;
  justify-content: center;
}

.loaded {
  animation: spin 2s 1 forwards;
}

.load img {
  margin: 3.8% 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/****** fonts ******/
.title-h1h4 {
  font-weight: 400;
  margin-top: 0;
}
.title-h1h4__h1t {
  font-size: 1.875rem;
  line-height: 2.734rem;
}
.title-h1h4__h1t__restaurant-name {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.55rem;
}
.title-h1h4__h4 {
  font-size: 1.125rem;
  line-height: 1.64rem;
  color: white;
}

.title-h2h3 {
  margin-left: 20px;
}
.title-h2h3__h2 {
  font-size: 1.5rem;
  line-height: 1.758rem;
}
.title-h2h3__center {
  margin-left: 0;
  padding-left: 0;
}
.title-h2h3__h3t {
  font-size: 1.125rem;
  line-height: 1.318rem;
}
.paragraph {
  font-size: 1rem;
  line-height: 1.172rem;
}
.paragraph__reservation {
  font-size: 1.125rem;
  line-height: 1.318rem;
}
.paragraph__card {
  font-size: 1.0625rem;
  line-height: 1.245rem;
}
.paragraph__button {
  font-size: 1rem;
  line-height: 1.172rem;
  color: white;
  margin: 0;
  padding: 0;
}
.paragraph__menu {
  margin-top: 40px;
  font-size: 1rem;
  line-height: 1.172rem;
}
.paragraph__menutext {
  font-size: 0.94rem;
  line-height: 1.102rem;
}
.paragraph__new {
  font-size: 0.875rem;
  line-height: 1.0256rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/****** header ******/
header {
  text-align: center;
}

header .title-h1h4 {
  margin-bottom: 0;
}

/****** localisation ******/
.localisation {
  text-align: center;
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.localisation p {
  display: none;
  margin-left: 12.5px;
}

html:lang(fr) p[lang=fr] {
  display: inline;
}

/****** reservation ******/
.reservation {
  text-align: center;
  background-color: #f6f6f6;
  padding: 20px 0 55px 0;
}

.reservation h2 {
  margin-bottom: 2.5%;
}

.reservation p {
  margin-top: 0;
  margin-bottom: 7%;
}

/****** fonctionnement *****/
.fonctionnement {
  width: 100%;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding: 28px 0 54px 0;
}

.fonctionnement h2 {
  text-align: left;
}

.function-buttons {
  margin-left: 8%;
  margin-right: 5%;
}

.button-choose {
  display: block;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 20px;
  background: #f6f6f6;
}

.button-choose:not(:last-child) {
  margin-bottom: 7%;
}

.button-choose:hover {
  background: #fafafa;
}

.button-choose i {
  position: absolute;
  left: 20.5px;
}

.fa-store {
  color: #9356dc;
}

.fa-mobile-screen-button,
.fa-list-ul {
  color: #7e7e7e;
}

.fonctionnement .paragraph__button {
  color: black;
}

.icon {
  position: absolute;
  left: -12.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
}

/****** restaurants ******/
.restaurants {
  width: 100%;
  background-color: #f6f6f6;
  padding: 34px 0 58px 0;
}

.restaurant-cards {
  padding: 0 15px;
}

.restaurant-card {
  width: 100%;
  height: 50vh;
  position: relative;
}

.restaurant-card img {
  width: 100%;
  height: 70%;
  /*object-fit: cover;
  object-position: 50% 60%;*/
  border-radius: 15px 15px 0 0;
}

.index-image {
  object-position: center bottom;
}

.new-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25px;
  right: 15px;
  width: 80px;
  height: 29px;
  padding-top: 3px;
  color: #008766;
  border-radius: 2px;
  background-color: #99e2d0;
}

.paragraph__new {
  width: 61.37px;
  height: 16px;
  margin: 0;
  text-align: center;
}

.card-content {
  height: 30%;
  background-color: white;
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-left h3 {
  margin-top: -5%;
  margin-bottom: 0;
  width: 100%;
  margin-left: 7%;
}

.paragraph__card {
  line-height: 0;
  margin: 0;
  margin-top: 8%;
  padding-left: 7%;
}

/****** page restaurant ******/
/****** header ******/
.header-page {
  display: flex;
  align-items: center;
}

a {
  padding-left: 23px;
}

.header-page .title-h1h4 {
  display: flex;
  justify-content: center;
  text-align: center;
  flex: 1;
  margin-bottom: 0;
}

@keyframes dishes-fade-in {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.restaurant-page {
  width: 100%;
}

.page-img-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-img-container img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.img-cover {
  background-color: brown;
  width: 58%;
  margin-top: -55px;
  padding-top: 31px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-left: 17px;
  padding-right: 17px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.img-cover h1 {
  margin: 0;
}

.menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu {
  width: 72%;
  background-color: #f6f6f6;
  padding-top: 5px;
  padding-left: 13px;
}

#entrees {
  animation: dishes-fade-in 1s ease-in-out;
}

#plats {
  animation: dishes-fade-in 1s 1s ease-in-out;
}

#desserts {
  animation: dishes-fade-in 1s 2s ease-in-out;
}

.menu .paragraph__menu {
  margin-bottom: 4px;
}

.line {
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
}

.menu-item h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.menu-item {
  margin: 13px 13px 0 0;
  padding: 12px 0 12px 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
}

.align-price {
  padding: 0 17px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/****** Media queries ******/
/* Medium and large devices */
@media (min-width: 1023.98px) {
  main {
    width: 100%;
  }
  .localisation-reservation {
    width: 100%;
  }
  .load img {
    margin: 2.4% 0;
  }
  /****** fonctionnement ******/
  .fonctionnement {
    width: 76%;
    padding: 30px 207px 39px 192.5px;
  }
  .function-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3%;
  }
  .button-choose {
    margin-top: 4px;
  }
  .button-choose:not(:last-child) {
    margin-bottom: 0;
  }
  /****** reservation ******/
  .reservation {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title-h2h3__center {
    font-size: 2.5rem;
    line-height: 2.93rem;
  }
  .reservation p {
    margin-top: 2%;
    margin-bottom: 2.5%;
  }
  .reservation:last-child {
    margin-bottom: 0;
  }
  /****** restaurants ******/
  .restaurants {
    background-color: mediumseagreen;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .restaurants h2 {
    margin-left: 13.5%;
  }
  .restaurant-cards {
    background-color: burlywood;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    padding: 0 150px;
    float: left;
    height: auto;
  }
  .restaurant-cards .restaurant-card {
    top: 15%;
    width: calc(67% - 10px);
    padding: 12px 0 12px 0px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  .restaurant-card img:nth-child(3) {
    grid-row-start: 2;
  }
  .restaurant-card img:nth-child(4) {
    grid-row-start: 2;
  }
  .restaurant-card img {
    width: 100%;
    height: 65%;
    object-fit: cover;
    object-position: 50% 60%;
    border-radius: 15px 15px 0 0;
  }
  .menus {
    width: 72%;
  }
  .img-cover {
    width: 72%;
    padding-left: 13px;
    display: flex;
    justify-content: center;
  }
  .img-cover .title-h1h4__h1t__restaurant-name {
    margin-right: 2%;
  }
  .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  .menu-center {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-item {
    width: 87%;
    margin-right: 0;
  }
}
/****** Explorer nos restaurants ******
* et 
****** Commander ******/
.explore-command {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.button-explore-command {
  border-radius: 20px;
  border: none;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
}

.button-explore-command:hover {
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.5);
}

.button-explore-command-size {
  height: 50px;
  width: 46%;
}

.button-explore-command-color {
  background: linear-gradient(to bottom, #ff79da, #9356dc);
}

.button-explore-command-color:hover {
  background: linear-gradient(to bottom, #9356dc, #a880da);
}

/****** Media queries ******/
/* Medium and large devices */
@media (min-width: 1023.98px) {
  .button-explore-command-size {
    width: 25%;
  }
}
.heart {
  padding-right: 25px;
  width: 27px;
  height: 26px;
  fill: white;
  stroke: black;
  stroke-width: 1;
  transition: fill 0.3s, stroke 1s;
}

.heart:hover {
  fill: url(#gradient);
  stroke: none;
}

.heart-gradient {
  transition: stop-color 1s;
}

.heart:hover .heart-gradient-stop1 {
  stop-color: #ff79da;
}

.heart:hover .heart-gradient-stop2 {
  stop-color: #9356dc;
}

footer {
  background-color: #353535;
  color: white;
  padding: 22px 0 22px 25px;
}

footer i {
  margin-right: 11px;
  margin-left: 5%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
}

.proposer-restaurant {
  display: flex;
  align-items: center;
}

.devenir-partenaire {
  display: flex;
  align-items: center;
}

/****** Media queries ******/
/* Medium and large devices */
@media (min-width: 1023.98px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
  }
  footer h4 {
    margin-left: 10%;
    margin-right: 10%;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .footer-container i {
    margin-right: 4%;
  }
  .paragraph__button {
    margin-left: 1%;
  }
}

/*# sourceMappingURL=style.css.map */
