footer {
    background-color: #353535;
    color: white;
    padding: 22px 0 22px 25px;
}

footer i {
    margin-right: 11px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
}

.proposer-restaurant {
    display: flex;
    align-items: center;
}

.devenir-partenaire {
    display: flex;
    align-items: center;
}

/****** Media queries ******/
/* Medium and large devices */
@media (min-width: 1023.98px) {
    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}