/****** general ******/
/****** colors ******/
$primary-color: #9356dc;
$primary-color-light: #a880da;
$secondary-color: #ff79da;
$secondary-color-light: #9356dc;
$tertiary-color: #99e2d0;
$new-color: #008766;
$main-backgrd-color: #f6f6f6;
$main-backgrd-color-light: #fafafa;
$function-button-color: #7e7e7e;

/****** fonts system ******/
/***** variables ******/
/****** family ******/
$font-family-primary: 'Shrikhand', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;
/****** weight ******/
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;

/****** mixins ******/
/****** family ******/
@mixin font-family($family) {
    font-family: $family;
}
/****** weight ******/
@mixin font-weight($weight) {
    font-weight: $weight;
}

/****** placeholders ******/
%font-title {
    @include font-family($font-family-primary)
}

%font-base {
    @include font-family($font-family-secondary);
}

%font-bold {
    @include font-weight($font-weight-bold);
}

%font-medium {
    @include font-weight($font-weight-medium);
}

%font-light {
    @include font-weight($font-weight-light);
}

/****** end fonts system ******/

* {
    @extend %font-base;
  }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/****** fonts ******/
.title-h1h4 {
    @extend %font-title;
    font-weight: 400;
    margin-top: 0;

    &__h1t {
        font-size: 1.875rem;
        line-height: 2.734rem;

        &__restaurant-name {
        @extend %font-title;
        font-weight: 400;
        font-size: 1.75rem;
        line-height: 2.55rem;
        }
    }
    
    &__h4 {
        font-size: 1.125rem;
        line-height: 1.64rem;
        color: white;
    }
}

.title-h2h3 {
    @extend %font-bold;
    padding-left: 20px;

    &__h2 { 
        font-size: 1.5rem;
        line-height: 1.758rem;
    }
    
    &__h3t {
        font-size: 1.125rem;
        line-height: 1.318rem;

        &__menu-title {
            @extend %font-medium;
        }
    }
}

.paragraph {
    font-size: 1.125rem;
    line-height: 1.318;
    @extend %font-light;

    &__card {
        font-size: 1.0625rem;
        line-height: 1.245rem;
        padding-left: 20px;
    }
    
    &__button {
        @extend %font-medium;
        font-size: 1rem;
        line-height: 1.172rem;
        color: white;
        margin: 0;
        padding: 0;
    }

    &__menu {
        margin-top: 40px;
        font-size: 1rem;
        line-height: 1.172rem;
    }

    &__menutext {
        font-size: 0.94rem;
        line-height: 1.102rem;

        &__price {
            @extend %font-bold;
        }
    }

    &__new {
        font-size: 0.875rem;
        line-height: 1.0256rem;
    }
}

/****** header ******/
.header {
    text-align: center;
}

.header .title-h1h4 {
    margin-bottom: 0;
}

/****** localisation ******/
.localisation {
    text-align: center;
    height: 50px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
}

.localisation p {
    display: none;
}

html:lang(fr) p[lang='fr'] {
    display: inline;
}

/****** réservation ******/
.reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $main-backgrd-color;
    padding: 20px 0 55px 0;
}

/****** fonctionnement *****/
.fonctionnement {
    padding: 28px 0 54px 0;
}

.button-function {
    padding: 0 20px 0 33px;
    display: flex;
    justify-content: stretch;
}

.button-choose {
    display: block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 20px;
    margin: 12px 0;
    background: $main-backgrd-color;
}

.button-choose:hover {
    background: $main-backgrd-color-light;
}

.button-choose span {
    margin-left: 25px;
}

.fonctionnement .fa-store {
    color: $primary-color;
}

.fonctionnement 
.fa-mobile-screen-button, 
.fonctionnement .fa-list-ul {
    color: $function-button-color;
}

.fonctionnement .paragraph__button {
    color: black;
}

.icon {
    position: absolute;
    left: -12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $primary-color;
    color: white;
}

/****** restaurants ******/
.restaurants {
    background-color: $main-backgrd-color;
    padding: 34px 0 58px 0;
}

.restaurant-cards {
    padding: 0 15px;
}

.restaurant-card {
    width: 100%;
    height: 250px;
    padding: 12px 0;
    position: relative;
}

.restaurant-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: 50% 60%;
    border-radius: 15px 15px 0 0;
}

.restaurant-card .image-bottom {
    object-position: center bottom;
}

.restaurant-card .new-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25px;
    right: 15px;
    width: 80px;
    height: 29px;
    padding-top: 3px;
    color: $new-color;
    border-radius: 2px;
    background-color: $tertiary-color;
}

.restaurant-card .paragraph__new {
    width: 61.37px;
    height: 16px;
    margin: 0;
    text-align: center;
}

.restaurant-card .card-content {
    height: 30%;
    background-color: white;
    border-radius: 0 0 15px 15px;
}

.card-content .heart-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heart-right .text-left p {
    line-height: 0;
}

.heart-right .text-left h3 {
    margin-bottom: 0;
}

/****** page restaurant ******/
.header-page {
    display: flex;
    align-items: center;
}

.header-page a {
    padding-left: 23px;
}

.header-page .title-h1h4 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex: 1;
    padding-right: 23px;
    padding-top: 14px;
    margin-bottom: 0;
}

.restaurant-page {
    width: 100%;
    background-color: $main-backgrd-color;
}

.img-container {
    width: 100%;
}

.img-container img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.img-cover {
    width: 100%;
    position: absolute;
    margin-top: -55px;
    padding-top: 31px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: $main-backgrd-color;
    padding-left: 17px;
    padding-right: 17px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.img-cover .title-h1h4__h1t__restaurant-name {
    margin: 0;
}

.command {
    padding: 40px 0;
}

.menu {
    background-color: $main-backgrd-color;
    padding-top: 5px;
    padding-left: 13px;
}

.menu .paragraph__menu {
    margin-bottom: 4px;
}

.line {
    width: 40px;
    height: 3px;
    background-color: $tertiary-color;
}

.menu-item h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.menu-item {
    margin: 13px 13px 0 0;
    padding: 12px 0 12px 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
}

.align-price {
    padding: 0 17px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/****** Media queries ******/
/* Medium and large devices */
@media (min-width: 1023.98px) {
    
}

@media (min-width: 1439.98px) {
    .function-buttons {
        display: flex;
    }

    .reservation {
        gap: 12px;
        padding-bottom: 28px;
        padding-top: 12px;
    }

    .reservation .title-h2h3 {
        font-size: 2.5rem;
        line-height: 2.93rem;
    }

    .reservation .paragraph {
        margin-top: 2px;
    }

    .restaurant-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}