/****** general ******/
/****** colors ******/
/****** fonts system ******/
/***** variables ******/
/****** family ******/
/****** weight ******/
/****** size *****/
/****** mixins ******/
/****** family ******/
/****** weight ******/
/****** size ******/
/****** placeholders ******/
.title-h2h3__restaurant-name, .title-h1h4 {
  font-family: "Shrikhand", sans-serif;
}

*, .title-h1h4__menu-title {
  font-family: "Roboto", sans-serif;
}

.paragraph__menutext__price, .title-h2h3 {
  font-weight: 700;
}

.paragraph__button, .paragraph, .title-h1h4__menu-title {
  font-weight: 500;
}

.paragraph__menu, .paragraph__reservation {
  font-weight: 300;
}

/****** end fonts system ******/
/****** fonts ******/
.title-h1h4 {
  font-weight: 400;
  margin-top: 0;
}
.title-h1h4__h1t {
  font-size: 1.875em;
  line-height: 2.734em;
}
.title-h1h4__h4 {
  font-size: 1.125em;
  line-height: 1.64em;
  color: white;
}
.title-h1h4__menu-title {
  font-size: 1.125em;
  line-height: 1.318em;
}

.title-h2h3 {
  margin-left: 20px;
}
.title-h2h3__restaurant-name {
  font-weight: 400;
  font-size: 1.75em;
  line-height: 2.55em;
}
.title-h2h3__h2 {
  font-size: 1.5em;
  line-height: 1.758em;
}
.title-h2h3__center {
  margin-left: 0;
  padding-left: 0;
}

.paragraph {
  font-size: 1em;
  line-height: 1.172em;
}
.paragraph__reservation {
  font-size: 1.125em;
  line-height: 1.318em;
}
.paragraph__card {
  font-size: 1.0625em;
  line-height: 1.245em;
}
.paragraph__button {
  font-size: 1em;
  line-height: 1.172em;
  color: white;
  margin: 0;
  padding: 0;
}
.paragraph__menu {
  margin-top: 40px;
  font-size: 1em;
  line-height: 1.172em;
}
.paragraph__menutext {
  font-size: 0.94em;
  line-height: 1.102em;
}
.paragraph__new {
  font-size: 0.875em;
  line-height: 1.0256em;
  width: 61.37px;
  height: 16px;
  margin: 0;
  text-align: center;
}

/****** end fonts ******/
* {
  margin: 0;
  padding: 0;
}
* main {
  display: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}
* main a {
  padding-left: 0;
}
* a {
  text-decoration: none;
  color: inherit;
}
* button:hover {
  cursor: pointer;
}

@-ms-keyframes spin {
  0% {
    transform: rotate(0deg);
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    width: 60vw;
    height: 60vh;
    opacity: 0.6;
  }
  100% {
    transform: rotate(360deg);
    width: 10vw;
    height: 10vh;
    opacity: 0;
    position: fixed;
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    width: 60vw;
    height: 60vh;
    opacity: 0.6;
  }
  100% {
    transform: rotate(360deg);
    width: 10vw;
    height: 10vh;
    opacity: 0;
    position: fixed;
  }
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    width: 60vw;
    height: 60vh;
    opacity: 0.6;
  }
  100% {
    transform: rotate(360deg);
    width: 10vw;
    height: 10vh;
    opacity: 0;
    position: fixed;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    width: 60vw;
    height: 60vh;
    opacity: 0.6;
  }
  100% {
    transform: rotate(360deg);
    width: 10vw;
    height: 10vh;
    opacity: 0;
    position: fixed;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    width: 60vw;
    height: 60vh;
    opacity: 0.6;
  }
  100% {
    transform: rotate(360deg);
    width: 10vw;
    height: 10vh;
    opacity: 0;
    position: fixed;
  }
}
.loaded {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  -ms-animation: spin 3s both;
  -o-animation: spin 3s both;
  -moz-animation: spin 3s both;
  -webkit-animation: spin 3s both;
  animation: spin 3s both;
  overflow-y: hidden;
  position: fixed;
}

/****** landing page ******/
/****** header ******/
header {
  text-align: center;
}
header .title-h1h4 {
  margin-top: 8%;
  margin-bottom: 12%;
}

/****** localisation ******/
.localisation-reservation {
  width: 100%;
  /****** reservation ******/
}
.localisation-reservation .localisation {
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.localisation-reservation .localisation p {
  margin-left: 12.5px;
}
.localisation-reservation .localisation p html:lang(fr) p[lang=fr] {
  display: inline;
}
.localisation-reservation .reservation {
  text-align: center;
  background-color: #f6f6f6;
  padding: 38px 15px 55px 15px;
}
.localisation-reservation .reservation h2 {
  margin-bottom: 13px;
}
.localisation-reservation .reservation p {
  margin-bottom: 30px;
}

/****** fonctionnement *****/
.fonctionnement {
  width: 100%;
  padding: 45px 7vw 65px 28vw;
}
.fonctionnement h2 {
  margin-left: -4vw;
}
.fonctionnement .function-buttons {
  margin-top: 30px;
}
.fonctionnement .function-buttons .paragraph__button {
  color: black;
}

/****** restaurants ******/
.restaurants {
  width: 100%;
  background-color: #f6f6f6;
  padding: 55px 0;
}
.restaurants .restaurant-cards {
  margin-top: 6%;
  margin-right: 6%;
  margin-left: 6%;
  display: flex;
  flex-direction: column;
  gap: 11px 0;
}
.restaurants .restaurant-cards .restaurant-card {
  margin-bottom: 13px;
  height: 30.25vh;
  position: relative;
}
.restaurants .restaurant-cards .restaurant-card .index-image {
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: 50% 60%;
}
.restaurants .restaurant-cards .restaurant-card .new-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25px;
  right: 15px;
  width: 80px;
  height: 29px;
  padding-top: 3px;
  color: #008766;
  border-radius: 2px;
  background-color: #99e2d0;
}
.restaurants .restaurant-cards .restaurant-card .card-content {
  height: 30%;
  background-color: white;
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -5px;
}
.restaurants .restaurant-cards .restaurant-card .card-content .text-left h3 {
  margin-top: -5%;
  margin-bottom: 0;
  width: 100%;
  margin-left: 7%;
}
.restaurants .restaurant-cards .restaurant-card .card-content .paragraph__card {
  line-height: 0;
  margin: 0;
  margin-top: 8%;
  padding-left: 7%;
}

/****** end landing page ******/
/****** restaurant page ******/
/****** header ******/
.header-page {
  display: flex;
  align-items: center;
  padding: 2.7%;
}
.header-page h1 {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-top: 0;
  margin-bottom: 0;
}
.header-page a {
  padding-left: 23px;
}

.page-img-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-img-container picture {
  width: 100%;
}
.page-img-container picture .resto-image {
  width: 100%;
  height: 275px;
  object-fit: cover;
  object-position: 50% 60%;
}
.page-img-container .img-cover {
  background-color: #f6f6f6;
  width: 100%;
  margin-top: -65px;
  padding-top: 16px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-left: 17px;
  padding-right: 17px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  object-fit: cover;
  object-position: 50% 60%;
  position: relative;
}
.page-img-container .img-cover h1 {
  margin: 0;
}

@-ms-keyframes dishes-fade-in {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes dishes-fade-in {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes dishes-fade-in {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes dishes-fade-in {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes dishes-fade-in {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu {
  background-color: #f6f6f6;
}
.menu .paragraph__menu {
  margin-bottom: 1%;
}
.menu #entrees {
  -ms-animation: dishes-fade-in 1s ease-in-out;
  -o-animation: dishes-fade-in 1s ease-in-out;
  -moz-animation: dishes-fade-in 1s ease-in-out;
  -webkit-animation: dishes-fade-in 1s ease-in-out;
  animation: dishes-fade-in 1s ease-in-out;
}
.menu #plats {
  -ms-animation: dishes-fade-in 1s 1s ease-in-out;
  -o-animation: dishes-fade-in 1s 1s ease-in-out;
  -moz-animation: dishes-fade-in 1s 1s ease-in-out;
  -webkit-animation: dishes-fade-in 1s 1s ease-in-out;
  animation: dishes-fade-in 1s 1s ease-in-out;
}
.menu #desserts {
  -ms-animation: dishes-fade-in 1s 2s ease-in-out;
  -o-animation: dishes-fade-in 1s 2s ease-in-out;
  -moz-animation: dishes-fade-in 1s 2s ease-in-out;
  -webkit-animation: dishes-fade-in 1s 2s ease-in-out;
  animation: dishes-fade-in 1s 2s ease-in-out;
}
.menu .line {
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
}
.menu .menu-left {
  margin-left: 4vw;
}
.menu .menu-item {
  cursor: pointer;
  margin: 12.5px 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.menu .menu-item .row-check {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.menu .menu-item .row-check .dish-content {
  flex-grow: 1;
  padding: 15px;
  transition: width 0.3s ease;
  overflow: hidden;
}
.menu .menu-item .row-check .dish-content h4,
.menu .menu-item .row-check .dish-content span {
  display: inline;
}
.menu .menu-item .row-check .dish-content h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.menu .menu-item .row-check .dish-content .align-price {
  padding: 0 17px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.menu .menu-item .row-check .dish-check-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  width: 60px;
  min-height: 100%;
  transition: transform 0.3s ease;
  transform: translateX(100%);
  flex-shrink: 0;
}
.menu .menu-item .row-check .dish-check-background .fa-circle-check {
  color: white;
  font-size: 1.5em;
}
.menu .menu-item .row-check .dish-check-background:hover .dish-content, .menu .menu-item .row-check .dish-check-background:active .dish-content {
  width: calc(100% - 60px);
}
.menu .menu-item .row-check .dish-check-background:hover .ellipsis, .menu .menu-item .row-check .dish-check-background:active .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .menu-item .row-check .dish-check-background:hover .dish-check-background, .menu .menu-item .row-check .dish-check-background:active .dish-check-background {
  transform: translateX(0);
}

/****** media queries ******/
/****** medium devices ******/
@media (min-width: 768px) {
  .fonctionnement h2 {
    margin: 0 6%;
  }
  .fonctionnement .function-buttons {
    padding: 0 4%;
  }
  .restaurants h2 {
    margin: 0 6%;
  }
}
/***** large devices *****/
@media (min-width: 1024px) {
  /****** landing page ******/
  .load img {
    margin: 2.4% 0;
  }
  /****** fonctionnement ******/
  .fonctionnement {
    position: relative;
    padding: 60px 0 160px 0;
  }
  .fonctionnement h2 {
    margin-left: 80px;
  }
  .fonctionnement .function-buttons {
    width: 100%;
    display: flex;
    margin-left: 106px;
    margin-top: 30px;
    position: absolute;
    left: -5.2%;
    gap: 3.2%;
  }
  /****** reservation ******/
  .reservation {
    padding: 28px 0 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .reservation h2 {
    margin-bottom: 22px;
  }
  .reservation p {
    margin-top: 7.5px;
  }
  .reservation:last-child {
    margin-bottom: 0;
  }
  .title-h2h3__center {
    font-size: 2.5em;
    line-height: 2.93em;
  }
  /****** restaurants ******/
  .restaurants {
    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .restaurants h2 {
    margin-left: 80px;
    margin-top: 0;
  }
  .restaurant-cards {
    width: 100%;
    margin-top: 28px;
    margin-left: 80px;
    margin-bottom: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px 110px;
  }
  .restaurant-cards .restaurant-card {
    margin-bottom: 0;
    height: 31vh;
    box-sizing: border-box;
    aspect-ratio: 1.9/1;
    min-height: 200px;
  }
  .restaurant-cards .restaurant-card picture img {
    height: 65%;
    object-fit: cover;
    object-position: 50% 60%;
    border-radius: 15px 15px 0 0;
  }
  /****** end landing page ******/
  /***** restaurant page ******/
  .menu-width {
    width: 75.5%;
  }
  .img-cover {
    padding-left: 13px;
    display: flex;
    justify-content: center;
  }
  .img-cover .title-h2h3__restaurant-name {
    margin-right: 2%;
  }
  .menu .menu-left {
    margin-left: 16.5%;
    margin-right: 16.5%;
  }
  .menu .menu-item {
    margin-left: 16.5%;
    margin-right: 16.5%;
  }
}
@media (prefers-reduced-motion) {
  .loaded {
    -ms-animation: spin 6s both;
    -o-animation: spin 6s both;
    -moz-animation: spin 6s both;
    -webkit-animation: spin 6s both;
    animation: spin 6s both;
  }
  .menu #entrees {
    -ms-animation: dishes-fade-in 6s ease-in-out;
    -o-animation: dishes-fade-in 6s ease-in-out;
    -moz-animation: dishes-fade-in 6s ease-in-out;
    -webkit-animation: dishes-fade-in 6s ease-in-out;
    animation: dishes-fade-in 6s ease-in-out;
  }
  .menu #plats {
    -ms-animation: dishes-fade-in 6s 6s ease-in-out;
    -o-animation: dishes-fade-in 6s 6s ease-in-out;
    -moz-animation: dishes-fade-in 6s 6s ease-in-out;
    -webkit-animation: dishes-fade-in 6s 6s ease-in-out;
    animation: dishes-fade-in 6s 6s ease-in-out;
  }
  .menu #desserts {
    -ms-animation: dishes-fade-in 6s 12s ease-in-out;
    -o-animation: dishes-fade-in 6s 12s ease-in-out;
    -moz-animation: dishes-fade-in 6s 12s ease-in-out;
    -webkit-animation: dishes-fade-in 6s 12s ease-in-out;
    animation: dishes-fade-in 6s 12s ease-in-out;
  }
}
/****** Explorer nos restaurants ******
*
****** Commander ******/
.explore-command {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.button-explore-command {
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 0 rgb(0, 0, 0);
  height: 50px;
}

.button-explore-size {
  width: 218px;
}

.button-command-size {
  width: 186px;
  margin: 22px 0 32px 0;
}

.button-explore-command:hover {
  box-shadow: 0 0 0 rgb(0, 0, 1);
}

.button-explore-command-color {
  background: linear-gradient(to bottom, #ff79da, #9356dc);
}

.button-explore-command-color:hover {
  background: linear-gradient(to bottom, #fa96de, #a880da);
}

.button-choose {
  display: block;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  padding: 38px 9vw;
  gap: 0 7%;
  background: #f6f6f6;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.button-choose:not(:last-child) {
  margin-bottom: 7%;
}
.button-choose:hover {
  background: #fafafa;
}
.button-choose .icon-number {
  position: absolute;
  left: -12.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
}
.button-choose .button-choose-size {
  height: 75px;
}
.button-choose .fa-mobile-screen-button,
.button-choose .fa-list-ul {
  color: #7e7e7e;
}
.button-choose .fa-store {
  color: #9356dc;
}

/****** media queries ******/
/***** medium devices ******/
@media (min-width: 768px) {
  .button-choose {
    gap: 0 2%;
  }
}
/***** large devices ******/
@media (min-width: 1024px) {
  .button-choose {
    margin-top: 4px;
    gap: 0 6%;
  }
  .button-choose:not(:last-child) {
    margin-bottom: 0;
  }
  .button-choose-size {
    width: 23%;
  }
}
#white, #gradient,
#white1, #white2, #white3, #white4,
#gradient1, #gradient2, #gradient3, #gradient4 {
  position: absolute;
  right: 7%;
  width: 22px;
}

#white,
#white1, #white2, #white3, #white4 {
  opacity: 1;
}
#white:hover,
#white1:hover, #white2:hover, #white3:hover, #white4:hover {
  opacity: 0;
  -ms-animation: heart-white 0.5s forwards;
  -o-animation: heart-white 0.5s forwards;
  -moz-animation: heart-white 0.5s forwards;
  -webkit-animation: heart-white 0.5s forwards;
  animation: heart-white 0.5s forwards;
}

@-ms-keyframes heart-white {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes heart-white {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes heart-white {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes heart-white {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes heart-white {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#gradient,
#gradient1, #gradient2, #gradient3, #gradient4 {
  opacity: 0;
}
#gradient:hover,
#gradient1:hover, #gradient2:hover, #gradient3:hover, #gradient4:hover {
  opacity: 1;
  -ms-animation: heart-color 0.5s forwards;
  -o-animation: heart-color 0.5s forwards;
  -moz-animation: heart-color 0.5s forwards;
  -webkit-animation: heart-color 0.5s forwards;
  animation: heart-color 0.5s forwards;
}

@-ms-keyframes heart-color {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes heart-color {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes heart-color {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes heart-color {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes heart-color {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/****** media queries ******/
/***** large devices ******/
@media (min-width: 1024px) {
  /****** landing page ******/
  .card-content #white1, .card-content #white2, .card-content #white3, .card-content #white4,
  .card-content #gradient1, .card-content #gradient2, .card-content #gradient3, .card-content #gradient4 {
    right: 5%;
  }
  /****** restaurant page ******/
  .img-cover #white, .img-cover #gradient {
    right: 30%;
  }
}
footer {
  background-color: #353535;
  color: white;
  padding: 7% 0 5% 8%;
}
footer h4 {
  margin-bottom: 6%;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  color: white;
}
footer .footer-container .footer-icons {
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}
footer .footer-container .footer-icons .paragraph__button {
  margin-left: 3%;
}
footer a {
  padding-left: 0;
  margin-bottom: 2%;
}
footer a:last-child {
  margin-top: 1.5%;
  margin-bottom: 2%;
}

/****** media queries ******/
/****** medium devices ******/
@media (min-width: 768px) {
  footer {
    padding: 3% 0 2% 3.2%;
  }
  footer h4 {
    margin-bottom: 2.5%;
  }
  footer .footer-container .footer-icons {
    margin-bottom: 0.5%;
  }
  footer .footer-container .footer-icons .paragraph__button {
    margin-left: 1.5%;
  }
  footer a {
    padding-left: 0;
    margin-bottom: 0.5%;
  }
  footer a:last-child {
    margin-top: 0.5%;
    margin-bottom: 1%;
  }
}
/***** large devices ******/
@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
  }
  footer .title-h1h4 {
    margin-bottom: 0;
    margin-top: 2%;
    margin-left: 6.5%;
    margin-right: 5%;
  }
  footer .footer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 30%;
    margin-top: 4.6%;
    margin-bottom: 1.7%;
  }
  footer .footer-container .footer-icons {
    gap: 0 7%;
  }
  footer .footer-container .footer-icons .paragraph__button {
    margin-left: 0;
  }
  footer a {
    padding-left: 5%;
  }
  footer a:last-child {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
