/****** fonts system ******/
/***** variables ******/
/****** family ******/
/****** weight ******/
/****** size *****/
/****** fonts system ******/
/****** mixins ******/
/****** family ******/
/****** weight ******/
/****** size ******/
/****** fonts system ******/
/****** placeholders ******/
.title-h2h3__restaurant-name, .title-h1h4 {
  font-family: "Shrikhand", sans-serif;
}

*, .title-h1h4__menu-title {
  font-family: "Roboto", sans-serif;
}

.paragraph__menutext__price, .title-h2h3 {
  font-weight: 700;
}

.paragraph__button, .paragraph, .title-h1h4__menu-title {
  font-weight: 500;
}

.paragraph__menutext, .paragraph__menu, .paragraph__card, .paragraph__reservation {
  font-weight: 300;
}

/****** general ******/
/****** colors ******/
/****** fonts ******/
.title-h1h4 {
  font-weight: 400;
  margin-top: 0;
}
.title-h1h4__h1t {
  font-size: 1.875rem;
  line-height: 2.734rem;
}
.title-h1h4__h4 {
  font-size: 1.125rem;
  line-height: 1.64rem;
  color: white;
}
.title-h1h4__menu-title {
  font-size: 1.125rem;
  line-height: 1.318rem;
}

.title-h2h3 {
  margin-left: 20px;
}
.title-h2h3__restaurant-name {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.55rem;
}
.title-h2h3__h2 {
  font-size: 1.5rem;
  line-height: 1.758rem;
}
.title-h2h3__center {
  margin-left: 0;
  padding-left: 0;
}

.paragraph {
  font-size: 1rem;
  line-height: 1.172rem;
}
.paragraph__reservation {
  font-size: 1.125rem;
  line-height: 1.318rem;
}
.paragraph__card {
  font-size: 1.0625rem;
  line-height: 1.245rem;
}
.paragraph__button {
  font-size: 1rem;
  line-height: 1.172rem;
  color: white;
  margin: 0;
  padding: 0;
}
.paragraph__menu {
  margin-top: 40px;
  font-size: 1rem;
  line-height: 1.172rem;
}
.paragraph__menutext {
  font-size: 0.94rem;
  line-height: 1.102rem;
}
.paragraph__new {
  font-size: 0.875rem;
  line-height: 1.0256rem;
  width: 61.37px;
  height: 16px;
  margin: 0;
  text-align: center;
}

/****** end fonts ******/
* {
  margin: 0;
  padding: 0;
}
* main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  overflow-x: hidden;
}
* main a {
  padding-left: 0;
}
* a {
  text-decoration: none;
  color: inherit;
}
* button:hover {
  cursor: pointer;
}

@-ms-keyframes spin {
  0% {
    transform: rotate(0deg);
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    width: 60vw;
    height: 60vh;
    opacity: 0.6;
  }
  100% {
    transform: rotate(360deg);
    width: 10vw;
    height: 10vh;
    opacity: 0;
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    width: 60vw;
    height: 60vh;
    opacity: 0.6;
  }
  100% {
    transform: rotate(360deg);
    width: 10vw;
    height: 10vh;
    opacity: 0;
  }
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    width: 60vw;
    height: 60vh;
    opacity: 0.6;
  }
  100% {
    transform: rotate(360deg);
    width: 10vw;
    height: 10vh;
    opacity: 0;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    width: 60vw;
    height: 60vh;
    opacity: 0.6;
  }
  100% {
    transform: rotate(360deg);
    width: 10vw;
    height: 10vh;
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    width: 60vw;
    height: 60vh;
    opacity: 0.6;
  }
  100% {
    transform: rotate(360deg);
    width: 10vw;
    height: 10vh;
    opacity: 0;
  }
}
.loaded {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  -ms-animation: spin 3s both;
  -o-animation: spin 3s both;
  -moz-animation: spin 3s both;
  -webkit-animation: spin 3s both;
  animation: spin 3s both;
  overflow-y: hidden;
  position: fixed;
}

/****** landing page ******/
/****** header ******/
header {
  text-align: center;
}
header .title-h1h4 {
  margin-top: 8%;
  margin-bottom: 12%;
}

/****** localisation ******/
.localisation-reservation {
  width: 100%;
  /****** reservation ******/
}
.localisation-reservation .localisation {
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.localisation-reservation .localisation p {
  margin-left: 12.5px;
}
.localisation-reservation .localisation p html:lang(fr) p[lang=fr] {
  display: inline;
}
.localisation-reservation .localisation i {
  font-size: 20px;
}
.localisation-reservation .reservation {
  text-align: center;
  background-color: #f6f6f6;
  padding: 38px 15px 55px 15px;
}
.localisation-reservation .reservation h2 {
  margin-bottom: 13px;
}
.localisation-reservation .reservation p {
  margin-bottom: 30px;
}

/****** fonctionnement *****/
.fonctionnement {
  width: 100%;
  padding: 45px 7vw 65px 25vw;
}
.fonctionnement h2 {
  margin-left: -4vw;
}
.fonctionnement .function-buttons {
  margin-top: 30px;
  margin-right: 15vw;
}
.fonctionnement .function-buttons .paragraph__button {
  color: black;
}

/****** restaurants ******/
.restaurants {
  width: 100%;
  background-color: #f6f6f6;
  padding: 55px 0;
}
.restaurants .restaurant-cards {
  margin-top: 6%;
  margin-right: 6%;
  margin-left: 6%;
  display: flex;
  flex-direction: column;
  gap: 11px 0;
}
.restaurants .restaurant-cards .restaurant-card {
  margin-bottom: 13px;
  height: 30.25vh;
  position: relative;
}
.restaurants .restaurant-cards .restaurant-card .index-image {
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: 50% 60%;
}
.restaurants .restaurant-cards .restaurant-card .new-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25px;
  right: 15px;
  width: 80px;
  height: 29px;
  padding-top: 3px;
  color: #008766;
  border-radius: 2px;
  background-color: #99e2d0;
}
.restaurants .restaurant-cards .restaurant-card .card-content {
  height: 30%;
  background-color: white;
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -5px;
}
.restaurants .restaurant-cards .restaurant-card .card-content .text-left h3 {
  margin-top: -5%;
  margin-bottom: 0;
  width: 100%;
  margin-left: 7%;
}
.restaurants .restaurant-cards .restaurant-card .card-content .paragraph__card {
  line-height: 0;
  margin: 0;
  margin-top: 8%;
  padding-left: 7%;
}

/****** end landing page ******/
/****** restaurant page ******/
/****** header ******/
.header-page {
  display: flex;
  align-items: center;
  padding: 1vh;
}
.header-page h1 {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-top: 0;
  margin-bottom: 0;
}
.header-page a {
  padding-left: 23px;
}
.header-page a i {
  font-size: 30px;
}

.page-img-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-img-container picture {
  width: 100%;
}
.page-img-container picture .resto-image {
  width: 100%;
  height: 275px;
  object-fit: cover;
  object-position: 50% 60%;
}
.page-img-container .img-cover {
  background-color: #f6f6f6;
  width: 100%;
  margin-top: -65px;
  padding-top: 16px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-left: 17px;
  padding-right: 17px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  object-fit: cover;
  object-position: 50% 60%;
  position: relative;
}
.page-img-container .img-cover h1 {
  margin: 0;
}

@-ms-keyframes dishes-fade-in {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes dishes-fade-in {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes dishes-fade-in {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes dishes-fade-in {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes dishes-fade-in {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu-width {
  width: 100%;
}

.menu {
  background-color: #f6f6f6;
}
.menu .paragraph__menu {
  margin-bottom: 1%;
}
.menu .paragraph__menu__entrees {
  margin-top: 15px;
}
.menu #entrees {
  -ms-animation: dishes-fade-in 1s ease-in-out;
  -o-animation: dishes-fade-in 1s ease-in-out;
  -moz-animation: dishes-fade-in 1s ease-in-out;
  -webkit-animation: dishes-fade-in 1s ease-in-out;
  animation: dishes-fade-in 1s ease-in-out;
}
.menu #plats {
  -ms-animation: dishes-fade-in 1s 1s ease-in-out;
  -o-animation: dishes-fade-in 1s 1s ease-in-out;
  -moz-animation: dishes-fade-in 1s 1s ease-in-out;
  -webkit-animation: dishes-fade-in 1s 1s ease-in-out;
  animation: dishes-fade-in 1s 1s ease-in-out;
}
.menu #desserts {
  -ms-animation: dishes-fade-in 1s 2s ease-in-out;
  -o-animation: dishes-fade-in 1s 2s ease-in-out;
  -moz-animation: dishes-fade-in 1s 2s ease-in-out;
  -webkit-animation: dishes-fade-in 1s 2s ease-in-out;
  animation: dishes-fade-in 1s 2s ease-in-out;
}
.menu .line {
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
}
.menu .menu-left {
  margin-left: 4vw;
}
.menu .menu-item {
  cursor: pointer;
  margin: 12.5px 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.menu .menu-item .row-check {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.menu .menu-item .row-check .dish-content {
  flex-grow: 1;
  padding: 15px 0 15px 15px;
  transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
  overflow: hidden;
}
.menu .menu-item .row-check .dish-content h4,
.menu .menu-item .row-check .dish-content span {
  display: inline;
}
.menu .menu-item .row-check .dish-content h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.menu .menu-item .row-check .dish-content .align-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.menu .menu-item .row-check .dish-check-background {
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out, width 0.5s ease-in-out;
}
.menu .menu-item .row-check .dish-check-background .fa-circle-check {
  color: white;
  font-size: 1.5rem;
}
.menu .menu-item .row-check:hover .dish-check-background,
.menu .menu-item .row-check:active .dish-check-background {
  width: 60px;
  margin-left: 15px;
  transform: translateX(0);
  background-color: #99e2d0;
}
.menu .menu-item .row-check:hover .dish-check-background .dish-content,
.menu .menu-item .row-check:active .dish-check-background .dish-content {
  width: calc(100% - 60px);
}
.menu .menu-item .row-check:hover .dish-check-background .ellipsis,
.menu .menu-item .row-check:active .dish-check-background .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/****** media queries ******/
/****** small mobile devices ******/
/****** restaurant page ******/
@media (max-width: 375px) {
  .img-cover {
    flex-direction: column;
  }
}
/****** medium devices ******/
@media (min-width: 768px) {
  .fonctionnement {
    padding: 45px 21vw 65px 29vw;
  }
  .fonctionnement h2 {
    margin: 0 2vw;
  }
  .fonctionnement .function-buttons {
    padding: 0 4%;
    margin-right: 5vw;
  }
  .restaurants h2 {
    margin: 0 6%;
  }
  /****** restaurant page ******/
  .menu-width {
    width: 75.5%;
  }
  .page-img-container .img-cover {
    width: 75.5%;
    padding-left: 13px;
    display: flex;
    justify-content: center;
  }
  .page-img-container .img-cover .title-h2h3__restaurant-name {
    margin-right: 2%;
  }
}
/***** large devices *****/
@media (min-width: 1024px) {
  /****** landing page ******/
  .load img {
    margin: 2.4% 0;
  }
  /****** reservation ******/
  .localisation-reservation .localisation {
    height: 55px;
    padding-bottom: 0;
  }
  .localisation-reservation .localisation i, .localisation-reservation .localisation p {
    margin-top: -5px;
  }
  .localisation-reservation .reservation {
    padding: 38px 15px 27px 15px;
  }
  .localisation-reservation .reservation h2 {
    font-size: 2.5rem;
    line-height: 2.93rem;
    margin-top: -10px;
    margin-bottom: 0;
  }
  .localisation-reservation .reservation p {
    margin: 30px 0;
  }
  /****** fonctionnement ******/
  .fonctionnement {
    position: relative;
    padding: 43px 0 154px 14vw;
  }
  .fonctionnement h2 {
    margin-left: 80px;
  }
  .fonctionnement .function-buttons {
    width: 100%;
    display: flex;
    margin-left: 22vw;
    margin-top: 21px;
    position: absolute;
    left: -5.2%;
    gap: 2%;
  }
  /****** restaurants ******/
  .restaurants {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 0;
    padding-left: 7vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .restaurants h2 {
    margin-left: 80px;
    margin-bottom: -60px;
  }
  .restaurants .restaurant-cards {
    width: 100%;
    margin-left: 80px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 100px;
  }
  .restaurants .restaurant-cards .restaurant-card {
    margin-bottom: 0;
    width: 39vw;
    height: 31vh;
    box-sizing: border-box;
    aspect-ratio: 1.9/1;
  }
  .restaurants .restaurant-cards .restaurant-card picture img {
    height: 65%;
    object-fit: cover;
    object-position: 50% 60%;
    border-radius: 15px 15px 0 0;
  }
  /****** end landing page ******/
  /***** restaurant page ******/
  .menu .menu-left {
    margin-left: 16.5%;
    margin-right: 16.5%;
  }
  .menu .menu-item {
    margin-left: 16.5%;
    margin-right: 16.5%;
  }
}
@media (prefers-reduced-motion) {
  .loaded {
    -ms-animation: spin 6s both;
    -o-animation: spin 6s both;
    -moz-animation: spin 6s both;
    -webkit-animation: spin 6s both;
    animation: spin 6s both;
  }
  .menu #entrees {
    -ms-animation: dishes-fade-in 6s ease-in-out;
    -o-animation: dishes-fade-in 6s ease-in-out;
    -moz-animation: dishes-fade-in 6s ease-in-out;
    -webkit-animation: dishes-fade-in 6s ease-in-out;
    animation: dishes-fade-in 6s ease-in-out;
  }
  .menu #plats {
    -ms-animation: dishes-fade-in 6s 6s ease-in-out;
    -o-animation: dishes-fade-in 6s 6s ease-in-out;
    -moz-animation: dishes-fade-in 6s 6s ease-in-out;
    -webkit-animation: dishes-fade-in 6s 6s ease-in-out;
    animation: dishes-fade-in 6s 6s ease-in-out;
  }
  .menu #desserts {
    -ms-animation: dishes-fade-in 6s 12s ease-in-out;
    -o-animation: dishes-fade-in 6s 12s ease-in-out;
    -moz-animation: dishes-fade-in 6s 12s ease-in-out;
    -webkit-animation: dishes-fade-in 6s 12s ease-in-out;
    animation: dishes-fade-in 6s 12s ease-in-out;
  }
}
/****** Explorer nos restaurants ******
*
****** Commander ******/
.explore-command {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.button-explore-command {
  border-radius: 20px;
  border: none;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
  height: 50px;
}

.button-explore-size {
  width: 218px;
}

.button-command-size {
  width: 186px;
  margin: 22px 0 32px 0;
}

.button-explore-command:hover {
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.3);
}

.button-explore-command-color {
  background: linear-gradient(to bottom, #ff79da, #9356dc);
}

.button-explore-command-color:hover {
  background: linear-gradient(to bottom, #fa96de, #a880da);
}

.button-choose {
  display: block;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  padding: 38px 9vw;
  gap: 0 7%;
  background: #f6f6f6;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.button-choose:not(:last-child) {
  margin-bottom: 7%;
}
.button-choose:hover {
  background: #fafafa;
}
.button-choose .icon-number {
  position: absolute;
  left: -12.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
}
.button-choose .button-choose-size {
  height: 55px;
}
.button-choose .fa-mobile-screen-button,
.button-choose .fa-list-ul {
  color: #7e7e7e;
}
.button-choose .fa-store {
  color: #9356dc;
}

/****** media queries ******/
/***** medium devices ******/
@media (min-width: 768px) {
  .button-choose {
    gap: 0 3%;
    padding: 38px 4vw;
  }
}
/***** large devices ******/
@media (min-width: 1024px) {
  .button-choose {
    margin-top: 4px;
    gap: 0 1.5vw;
    padding: 38px 2.5vw;
  }
  .button-choose:not(:last-child) {
    margin-bottom: 0;
  }
  .button-choose-size {
    width: 22.5vw;
  }
}
.heart-container {
  position: relative;
  top: -10px;
  /****** media queries ******/
  /****** small mobile devices ******/
  /****** restaurant page ******/
  /****** medium devices ******/
  /***** large devices ******/
}
.heart-container #white, .heart-container #gradient,
.heart-container #white1, .heart-container #white2, .heart-container #white3, .heart-container #white4,
.heart-container #gradient1, .heart-container #gradient2, .heart-container #gradient3, .heart-container #gradient4 {
  position: absolute;
  right: 25px;
  width: 22px;
  transition: opacity 0.5s ease-in-out;
}
.heart-container #white,
.heart-container #white1, .heart-container #white2, .heart-container #white3, .heart-container #white4 {
  opacity: 1;
}
.heart-container #gradient,
.heart-container #gradient1, .heart-container #gradient2, .heart-container #gradient3, .heart-container #gradient4 {
  opacity: 0;
}
.heart-container:hover #white,
.heart-container:hover #white1, .heart-container:hover #white2, .heart-container:hover #white3, .heart-container:hover #white4 {
  opacity: 0;
}
.heart-container:hover #gradient,
.heart-container:hover #gradient1, .heart-container:hover #gradient2, .heart-container:hover #gradient3, .heart-container:hover #gradient4 {
  opacity: 1;
}
@media (max-width: 375px) {
  .heart-container #white, .heart-container #gradient {
    left: -11px;
  }
}
@media (min-width: 768px) {
  .heart-container #white, .heart-container #gradient {
    left: 15px;
  }
}
@media (min-width: 1024px) {
  .heart-container {
    /****** landing page ******/
    /****** restaurant page ******/
  }
  .heart-container .card-content #white1, .heart-container .card-content #white2, .heart-container .card-content #white3, .heart-container .card-content #white4,
  .heart-container .card-content #gradient1, .heart-container .card-content #gradient2, .heart-container .card-content #gradient3, .heart-container .card-content #gradient4 {
    right: 5%;
  }
  .heart-container .img-cover #white, .heart-container .img-cover #gradient {
    right: 30%;
  }
}

footer {
  background-color: #353535;
  color: white;
  padding: 7% 0 5% 8%;
}
footer h4 {
  margin-bottom: 6%;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  color: white;
}
footer .footer-container .footer-icons {
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}
footer .footer-container .footer-icons i {
  font-size: 16px;
}
footer .footer-container .footer-icons .paragraph__button {
  margin-left: 3%;
}
footer a {
  padding-left: 0;
  margin-bottom: 2%;
}
footer a:last-child {
  margin-top: 1.5%;
  margin-bottom: 2%;
}

/****** media queries ******/
/****** medium devices ******/
@media (min-width: 768px) {
  footer {
    padding: 3% 0 2% 3.2%;
  }
  footer h4 {
    margin-bottom: 2.5%;
  }
  footer .footer-container .footer-icons {
    margin-bottom: 0.5%;
  }
  footer .footer-container .footer-icons .paragraph__button {
    margin-left: 1.5%;
  }
  footer a {
    padding-left: 0;
    margin-bottom: 0.5%;
  }
  footer a:last-child {
    margin-top: 0.5%;
    margin-bottom: 1%;
  }
}
/***** large devices ******/
@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
  }
  footer .title-h1h4 {
    margin-bottom: 0;
    margin-top: 2%;
    margin-left: 6.5%;
    margin-right: 5%;
  }
  footer .footer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 30%;
    margin-top: 4.6%;
    margin-bottom: 1.7%;
  }
  footer .footer-container .footer-icons {
    gap: 0 7%;
  }
  footer .footer-container .footer-icons .paragraph__button {
    margin-left: 0;
  }
  footer a {
    padding-left: 5%;
  }
  footer a:last-child {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
