.button-choose {
    display: block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    padding: 38px 9vw;
    gap: 0 7%;
    background: $main-backgrd-color;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:not(:last-child) {
        margin-bottom: 7%;
    }

    &:hover {
        background: $main-backgrd-color-light;
    }

    .icon-number {
        position: absolute;
        left: -12.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $primary-color;
        color: white;
    }

    .button-choose-size {
        height: 55px;
    }
    
    .fa-mobile-screen-button, 
    .fa-list-ul {
        color: $function-button-color;
    }

    .fa-store {
        color: $primary-color;
    }
}

/****** media queries ******/
/***** medium devices ******/
@media (min-width: 768px) {
    .button-choose { // threshold is 768px
        gap: 0 3%;
        padding: 38px 4vw;
    }
}
/***** large devices ******/
@media (min-width: 1024px){
    .button-choose {
        margin-top: 4px;

        gap: 0 1.5vw;
        padding: 38px 2.5vw;

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    .button-choose-size {
        width: 20vw; // threshold is 1440px
    }
}