/****** Explorer nos restaurants ******
*
****** Commander ******/
.explore-command {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.button-explore-command {
    border-radius: 20px;
    border: none;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
}

.button-explore-size {
    width: 218px;
    height: 50px;
}

.button-command-size {
    width: 186px;
    margin: 22px 0 32px 0;
}

.button-explore-command:hover {
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.3);
}

.button-explore-command-color {
    background: linear-gradient(to bottom, $secondary-color, $primary-color);
}

.button-explore-command-color:hover {
    background: linear-gradient(to bottom, $secondary-color-light, $primary-color-light);
}