footer {
    background-color: #353535;
    color: white;
    padding: 7% 0 5% 8%;

    h4 {
        margin-bottom: 6%;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        color: white;

        .footer-icons {
            display: flex;
            align-items: center;
            margin-bottom: 1%;

            i {
                font-size: 16px;
            }

            .paragraph__button {
                margin-left: 3%;
            }
        }
    }
    
    a {
        padding-left: 0;
        margin-bottom: 2%;
    }

    a:last-child {
        margin-top: 1.5%;
        margin-bottom: 2%;
    }
}

/****** media queries ******/
/****** medium devices ******/
@media (min-width: 768px) {
    footer {
        padding: 3% 0 2% 3.2%;

        h4 {
            margin-bottom: 2.5%;
        }

        .footer-container {
            .footer-icons {
                margin-bottom: 0.5%;

                .paragraph__button {
                    margin-left: 1.5%;
                }
            }
        }

        a {
            padding-left: 0;
            margin-bottom: 0.5%;
        }
    
        a:last-child {
            margin-top: 0.5%;
            margin-bottom: 1%;
        }
    }
}
/***** large devices ******/
@media (min-width: 1024px) {
    footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        padding: 0;

        .title-h1h4 {
            margin-bottom: 0;
            margin-top: 3vh;
            margin-left: 6.5vw;
            margin-right: 4.75vw;
        }
    
        .footer-container {
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-left: 30vw;
            margin-top: 7.5vh;
            margin-bottom: 3vh;

            .footer-icons {
                .paragraph__button {
                    margin-left: 0;
                }

                gap: 0 0.5vw;
            }
        }

        a {
            padding-left: 2.5vw;
        }

        #devenezPartenaire {
            padding-left: 0.75vw;
        }

        a:last-child {
            margin-top: 0;
            padding-left: 1.25vw;
        }
    }
}