footer {
    background-color: #353535;
    color: white;
    padding: 7% 0 5% 8%;
    width: 100%;

    .footer-container {
        display: flex;
        flex-direction: column;
        color: white;

        .footer-icons {
            display: flex;
            align-items: center;
        }
    }

    i {
        margin-right: 25px;
    }

    a {
        padding-left: 0;
        margin-bottom: 2%;
    }
}

/****** Media queries ******/
/* Medium and large devices */
@media (min-width: 1024px) {
    footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        margin-top: 2.6%;
        padding-top: 3.5%;
        padding-bottom: 0.4%;
    
        .footer-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        i {
            margin-left: 45%;
            margin-right: 0;
        }
    }
}