.fa-heart {
    padding-right: 25px;
    font-size: 24px;
    background-image: linear-gradient(
        to top,
        white,
        white);
    -webkit-text-stroke: 1px black;
    stroke: 1px black;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradient 2s forwards;

    &:hover {
        background-image: linear-gradient(
            to top, 
            $secondary-color, 
            $primary-color);
        -webkit-text-stroke: 0;
        stroke: none;
        background-size: 200% 100%;
    }

    &:hover::before {
        background-image: transparent;
    }
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}