.heart-container {
    position: relative;
    top: -10px;

    .resto-page-heart {
        left: -5px;
    }

    #white, #gradient, 
    #white1, #white2, #white3, #white4,
    #gradient1, #gradient2, #gradient3, #gradient4 {
        position: absolute;
        right: 25px;
        width: 22px;
        transition: opacity 0.5s ease;
    }

    #white, 
    #white1, #white2, #white3, #white4 {
        opacity: 1;
    }

    #gradient, 
    #gradient1, #gradient2, #gradient3, #gradient4 {
        opacity: 0;
    }

    &:hover {
        #white, 
        #white1, #white2, #white3, #white4 {
            opacity: 0;
        }
        #gradient, 
        #gradient1, #gradient2, #gradient3, #gradient4 {
            opacity: 1;
        }
    }

    /****** media queries ******/
    /***** large devices ******/
    @media (min-width: 1024px) {
        /****** landing page ******/
        .card-content {
            #white1, #white2, #white3, #white4,
            #gradient1, #gradient2, #gradient3, #gradient4 {
                right: 5%
            }
        }

        /****** restaurant page ******/
        .img-cover {
            #white, #gradient {
                right: 30%;
            }
        }
    }
}