.heart {
    padding-right: 25px;
    font-size: 24px;
    color: linear-gradient(to top, white, white);
    -webkit-text-stroke: 1px black;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: linear-gradient(
            to top, 
            $secondary-color,
            $primary-color);
        -webkit-text-stroke: 0;
    }
}