.heart, .fa-heart {
    padding-right: 25px;
    font-size: 24px;
    color: white;
    /*-ms-text-stroke: 1px;
	-o-text-stroke: 1px;
	-moz-text-stroke: 1px;
    -webkit-text-stroke: 1px;*/
    stroke: 1px;
    -ms-background-clip: text;
    -o-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    transition: stroke 0.3s;

    &:hover {
        /*-ms-text-stroke: 0;
        -o-text-stroke: 0;
        -moz-text-stroke: 0;
        -webkit-text-stroke: 0;*/
        opacity: 1;
        stroke: 1px black;
    }

    &:hover::before {
        background-image: transparent;
        opacity: 1;
        border: 1px black;
    }
}

.heart {
    position: absolute;
    right: 0;
}

@-ms-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@-o-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@-moz-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}