@import "variables_colors-fonts.scss";
@import "fonts.scss";
@import "buttons/explore-command-button.scss";
@import "buttons/choose-button.scss";
@import "anim/heart.scss";
@import "anim/keyframes/fade-in_dishes.scss";
@import "anim/keyframes/loader_spin.scss";
@import "footer.scss";
@import "pages/restaurant-page.scss";
/****** general landing page styling ******/
/****** see footer.scss for current vh use ******/
* {
    @extend %font-base;
    margin: 0;
    padding: 0;

    main {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 0;
        overflow-x: hidden;

        a {
            padding-left: 0;
        }
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    button:hover {
        cursor: pointer;
    }
}

.loaded {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    animation: spin 3s forwards;
    overflow: hidden;
    position: fixed;
}

header {
    text-align: center;

    .title-h1h4 {
        margin-top: 1.7%;
        margin-bottom: 1.7%;
    }
}

.localisation-reservation {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .localisation {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 50px;
        background-color: #eaeaea;
        
        p {
            margin-left: 12.5px;

            html:lang(fr) p[lang='fr'] {
                display: inline;
            }
        }

        i {
            font-size: 20px;
        }
    }

    .reservation {
        text-align: center;
        width: 100vw;
        background-color: $main-backgrd-color;
        padding: 38px 15px 55px 15px;

        h2 {
            margin-bottom: 13px;
        }

        p {
            margin-bottom: 30px;
        }
    }
}

.fonctionnement {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12.75vh;
    padding-bottom: 8vh;
    position: relative;
    gap: 2.75vh;

    h2 {
        position: absolute;
        left: 6vw;
        top: 46px;
    }

    .paragraph__button {
        color: black;
    }
}

.restaurants {
    width: 100vw;
    background-color: $main-backgrd-color;

    h2 {
        margin: 6vw 0 6vw 5vw;
    }

    .restaurant-cards {
        width: 100vw;
        margin: 0 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 11px 0;

        .restaurant-card {
            width: 100vw;
            margin-bottom: 13px;
            height: 30.25vh;
            position: relative;

            .index-image {
                width: 100vw;
                height: 70%;
                border-radius: 15px 15px 0 0;
                object-fit: cover;
                object-position: 50% 60%;
            }

            .new-container {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 25px;
                right: 15px;
                width: 80px;
                height: 29px;
                padding-top: 3px;
                color: $new-color;
                border-radius: 2px;
                background-color: $tertiary-color;
            }

            .card-content {
                height: 30%;
                background-color: white;
                border-radius: 0 0 15px 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                top: -5px;

                .text-left {
                    padding-left: 4vw;
                }

                .text-left h3 {
                    margin-top: -5%;
                    margin-bottom: 0;
                }

                .paragraph__card {
                    line-height: 0;
                    margin: 0;
                    margin-top: 8%;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .localisation-reservation
    .fonctionnement {
        background-color: brown;
    }

    .restaurants {
        h2 {
            margin: 0 6vw;
        }
    }
}

@media (min-width: 1024px) {
    /****** landing page ******/
    .localisation-reservation {
        width: 100vw;
        .localisation {
            width: 100vw;
            height: 55px;
            padding-bottom: 0;

            i, p {
                margin-top: -5px;
            }
        }

        .reservation {
            width: 100vw;
            padding: 38px 15px 27px 15px;

            h2 {
                font-size: 2.5rem;
                line-height: 2.93rem;
                margin-top: -10px;
                margin-bottom: 0;
            }

            p {
                margin: 30px 0;
            }
        }
    }
  
    .fonctionnement {

        .function-buttons {
            display: flex;
            position: absolute;
            left: -5.2%;
            gap: 2%;
        }
    }
    
    .restaurants {
        width: 100vw;
        padding: 3.3vh 0 3.3vh 7vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h2 {
            margin-left: 80px;
            margin-bottom: -1vh;
        }

        .restaurant-cards {
            width: 100vw;
            margin: 4.4vh 5vw 0 5vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 5vh 6.3vw;

            .restaurant-card {
                width: 35vw;
                height: 30.5vh;
                box-sizing: border-box;
                margin-bottom: 0;

                .index-image {
                    height: 65%;
                    object-fit: cover;
                    object-position: 50% 60%;
                    border-radius: 15px 15px 0 0;
                }

                #noteEnchantee {
                    object-position: 50% 40%;
                }

                .card-content .text-left {
                    padding-left: 1.2vw;
                }
            }
        }
    }
}