/****** general ******/
/****** colors ******/
$primary-color: #9356dc;
$primary-color-light: #a880da;
$secondary-color: #ff79da;
$secondary-color-light: #9356dc;
$tertiary-color: #99e2d0;
$new-color: #008766;
$main-backgrd-color: #f6f6f6;
$main-backgrd-color-light: #fafafa;
$function-button-color: #7e7e7e;

/****** fonts system ******/
/***** variables ******/
/****** family ******/
$font-family-primary: 'Shrikhand', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;
/****** weight ******/
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;
/****** size *****/
$font-size-large: 2.5rem;

/****** mixins ******/
/****** family ******/
@mixin font-family($family) {
    font-family: $family;
}
/****** weight ******/
@mixin font-weight($weight) {
    font-weight: $weight;
}

/****** size ******/
@mixin font-size($size) {
    font-size: $font-size-large;
}

/****** placeholders ******/
%font-title {
    @include font-family($font-family-primary)
}

%font-base {
    @include font-family($font-family-secondary);
}

%font-bold {
    @include font-weight($font-weight-bold);
}

%font-medium {
    @include font-weight($font-weight-medium);
}

%font-light {
    @include font-weight($font-weight-light);
}

%font-large {
    @include font-size($font-size-large);
}
/****** end fonts system ******/

/****** fonts ******/
.title-h1h4 {
    @extend %font-title;
    font-weight: 400;
    margin-top: 0;

    &__h1t {
        font-size: 1.875rem;
        line-height: 2.734rem;

        &__restaurant-name {
        @extend %font-title;
        font-weight: 400;
        font-size: 1.75rem;
        line-height: 2.55rem;
        }
    }
    
    &__h4 {
        font-size: 1.125rem;
        line-height: 1.64rem;
        color: white;
    }
}

.title-h2h3 {
    @extend %font-bold;
    margin-left: 20px;
    
    &__h2 { 
        font-size: 1.5rem;
        line-height: 1.758rem;
    }

    &__center {
        margin-left: 0;
        padding-left: 0;
    }
    
    &__h3t {
        font-size: 1.125rem;
        line-height: 1.318rem;

        &__menu-title {
            @extend %font-medium;
        }
    }
}

.paragraph {
    font-size: 1rem;
    line-height: 1.172rem;
    @extend %font-medium;

    &__reservation {
        @extend %font-light;
        font-size: 1.125rem;
        line-height: 1.318rem;
    }

    &__card {
        font-size: 1.0625rem;
        line-height: 1.245rem;
    }
    
    &__button {
        @extend %font-medium;
        font-size: 1rem;
        line-height: 1.172rem;
        color: white;
        margin: 0;
        padding: 0;
    }

    &__menu {
        margin-top: 40px;
        font-size: 1rem;
        line-height: 1.172rem;
        @extend %font-light;
    }

    &__menutext {
        font-size: 0.94rem;
        line-height: 1.102rem;

        &__price {
            @extend %font-bold;
        }
    }

    &__new {
        font-size: 0.875rem;
        line-height: 1.0256rem;
    }
}

/****** end fonts ******/
* {
    @extend %font-base;
  }

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes spin {
    0% {
        transform: scale(1) rotate(0deg);
        width: 100vw;
        height: 100vh;
    }
    99% {
        transform: scale(1) rotate(360deg);
    }
    100% {
        transform: scale(0) rotate(360deg);
        display: none;
    }
}

.loaded {
    display: flex;
    justify-content: center;
    animation: spin 1.5s 1 forwards;
}

a {
    text-decoration: none;
    color: inherit;
}

button:hover {
    cursor: pointer;
}

/****** header ******/
header {
    text-align: center;
}

header .title-h1h4 {
    margin-top: 8%;
    margin-bottom: 12%;
}

/****** localisation ******/
.localisation-reservation {
    width: 100%;
}

.localisation {
    width: 100%;
    text-align: center;
    height: 50px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
}

.localisation p {
    display: none;
    margin-left: 12.5px;
}

html:lang(fr) p[lang='fr'] {
    display: inline;
}

/****** reservation ******/
.reservation {
    width: 100%;
    text-align: center;
    background-color: $main-backgrd-color;
    padding: 20px 0 55px 0;
}

.reservation h2 {
    margin-bottom: 2.5%;
}

.reservation p {
    margin-top: 0;
    margin-bottom: 7%;
}

/****** fonctionnement *****/
.fonctionnement {
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding: 28px 0 54px 0;
}

.fonctionnement h2 {
    text-align: left;
}

.function-buttons {
    margin-left: 8%;
    margin-right: 5%;
}

.button-choose {
    display: block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 20px;
    background: $main-backgrd-color;
}

.button-choose:not(:last-child) {
    margin-bottom: 7%;
}

.button-choose:hover {
    background: $main-backgrd-color-light;
}

.button-choose i {
    position: absolute;
    left: 20.5px;
}

.fa-store {
    color: $primary-color;
}

.fa-mobile-screen-button, 
.fa-list-ul {
    color: $function-button-color;
}

.fonctionnement .paragraph__button {
    color: black;
}

.icon {
    position: absolute;
    left: -12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $primary-color;
    color: white;
}

/****** restaurants ******/
.restaurants {
    width: 100%;
    background-color: $main-backgrd-color;
    padding: 34px 0 58px 0;
}

.restaurant-cards {
    padding: 0 15px;
}

.restaurant-card {
    width: 100%;
    height: 27vh;
    position: relative;
}

.restaurant-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: 50% 60%;
    border-radius: 15px 15px 0 0;
}

.index-image {
    object-position: center bottom;
}

.new-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25px;
    right: 15px;
    width: 80px;
    height: 29px;
    padding-top: 3px;
    color: $new-color;
    border-radius: 2px;
    background-color: $tertiary-color;
}

.paragraph__new {
    width: 61.37px;
    height: 16px;
    margin: 0;
    text-align: center;
}

.card-content {
    height: 30%;
    background-color: white;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-left h3 {
    margin-top: -5%;
    margin-bottom: 0;
    width: 100%;
    margin-left: 7%;
}

.paragraph__card {
    line-height: 0;
    margin: 0;
    margin-top: 8%;
    padding-left: 7%;
}

/****** page restaurant ******/
/****** header ******/
.header-page {
    display: flex;
    align-items: center;
}

a {
    padding-left: 23px;
}

.header-page .title-h1h4 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex: 1;
    margin-bottom: 0;
}

@keyframes dishes-fade-in {
    0% {
        opacity: 0;
        transform: translateY(+50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.restaurant-page {
    width: 100%;
}
.page-img-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-img-container img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.img-cover {
    background-color: $main-backgrd-color;
    width: 100%;
    margin-top: -55px;
    padding-top: 31px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-left: 17px;
    padding-right: 17px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.img-cover h1 {
    margin: 0;
}

.menu {
    width: 100%;
    background-color: $main-backgrd-color;
}

#entrees {
    animation: dishes-fade-in 1s ease-in-out;
}

#plats {
    animation: dishes-fade-in 1s 1s ease-in-out;
}

#desserts {
    animation: dishes-fade-in 1s 2s ease-in-out;
}

.menu .paragraph__menu {
    margin-bottom: 1%;
}

.line {
    width: 40px;
    height: 3px;
    background-color: $tertiary-color;
}

.menu-left {
    margin-left: 3%;
}

.menu-item h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.menu-item {   
    margin: 3%;
    padding: 2% 0 3% 4%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.align-price {
    padding: 0 17px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    cursor: pointer;
}

.fa-circle-check {
    display: none;
}

.menu-item:hover {
    .fa-circle-check {
        display: inline;
        color: $tertiary-color;
        margin-right: 4%;
    }
}

/****** Media queries ******/
/* Medium and large devices */
@media (min-width: 1023.98px) {
    main {
        width: 100%;
    }

    .localisation-reservation {
        width: 100%;
    }

    .load img {
    margin: 2.4% 0;
    }
/****** fonctionnement ******/
    .fonctionnement {
        width: 82%;
        position: relative;
        padding: 0;
        padding-top: 1.8%;
        padding-bottom: 6.6%;
    }

    .function-buttons {
        position: absolute;
        left: -5.2%;
        width: 80%;
        display: flex;
        gap: 3.2%;
        margin-bottom: 20%;
    }

    .button-choose {
        margin-top: 4px;
    }

    .button-choose:not(:last-child) {
        margin-bottom: 0;
    }
/****** reservation ******/
    .reservation {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title-h2h3__center {
        font-size: 2.5rem;
        line-height: 2.93rem;
    }

    .reservation p {
        margin-top: 2%;
        margin-bottom: 2.5%;
    }

    .reservation:last-child {
        margin-bottom: 0;
    }
/****** restaurants ******/
    .restaurants {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .restaurants h2 {
        margin-left: 10.2%;
        margin-top: 0;
        margin-bottom: 1.8%;
    }

    .restaurant-cards {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        width: 100%;
        padding: 0 150px;
        float: left;
        height: auto;
    }

    .restaurant-cards .restaurant-card {
        top: 15%;
        width: calc(67% - 10px);
        height: 34vh;
        padding: 12px 0;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .restaurant-card img:nth-child(3) {
        grid-row-start: 2;
    }

    .restaurant-card img:nth-child(4) {
        grid-row-start: 2;
    }

    .restaurant-card img {
        width: 100%;
        height: 65%;
        object-fit: cover;
        object-position: 50% 60%;
        border-radius: 15px 15px 0 0;
    }

    /***** restaurant-page ******/
    .menu-width {
        width: 73%;
    }
    .img-cover {
        padding-left: 13px;
        display: flex;
        justify-content: center;
    }

    .img-cover .title-h1h4__h1t__restaurant-name {
        margin-right: 2%;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .menu-dish-width {
        width: 56%;
    }

    .menu-item {
        margin-right: 0;
    }
}