@import "variables_colors-fonts.scss";
@import "fonts.scss";
@import "buttons/explore-command-button.scss";
@import "buttons/choose-button.scss";
@import "anim/heart.scss";
@import "anim/keyframes/fade-in_dishes.scss";
@import "anim/keyframes/loader_spin.scss";
@import "footer.scss";
@import "pages/restaurant-page.scss";
/****** general landing page styling ******/
* {
    @extend %font-base;
    margin: 0;
    padding: 0;
}

main {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    overflow-x: hidden;

    a {
        padding-left: 0;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

button:hover {
    cursor: pointer;
}

.loaded {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    z-index: 1;
    animation: spin 3s forwards;
    overflow: hidden;
    position: fixed;
}

header {
    text-align: center;

    .title-h1h4 {
        margin-top: 1.7%;
        margin-bottom: 1.7%;
    }
}

.localisation-reservation {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .localisation {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eaeaea;
        
        p {
            margin-left: 12.5px;

            html:lang(fr) p[lang='fr'] {
                display: inline;
            }
        }

        i {
            font-size: 20px;
        }
    }

    .reservation {
        width: 100%;
        text-align: center;
        padding: 38px 15px 55px 15px;
        background-color: $main-backgrd-color;

        h2 {
            margin-bottom: 13px;
        }

        p {
            margin-bottom: 30px;
        }
    }
}

.fonctionnement {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12.75dvh;
    padding-bottom: 8dvh;
    gap: 2.75vh;
    position: relative;

    h2 {
        position: absolute;
        left: 5.25dvw;
        top: 46px;
    }

    .paragraph__button {
        color: black;
    }
}

.restaurants {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12.25dvh 0 7.8dvh;
    position: relative;
    background-color: $main-backgrd-color;

    h2 {
        position: absolute;
        left: 5.25dvw;
        top: 6.5dvh;
    }

    .restaurant-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 11px 0;
        padding: 0 5dvw;
        box-sizing: border-box;

        .restaurant-card {
            width: 100%;
            height: auto;
            overflow: hidden;
            box-sizing: border-box;
            border-radius: 15px;
            aspect-ratio: 4/3;
            margin-bottom: .8dvh;
            position: relative;

            .index-image {
                width: 100%;
                height: 70%;
                object-fit: cover;
                object-position: bottom center;
            }

            #noteEnchantee {
                object-position: center;
            }

            .new-container {
                top: 25px;
                right: 15px;
                width: 80px;
                height: 29px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 3px;
                border-radius: 2px;
                color: $new-color;
                background-color: $tertiary-color;
            }

            .card-content {
                top: -5px;
                height: 60px;
                border-radius: 0 0 15px 15px;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                padding-top: 1.85dvh;
                position: relative;
                background-color: white;

                .text-left {
                    padding-left: 4vw;
                }

                .text-left h3 {
                    margin-bottom: 0;
                }

                .paragraph__card {
                    line-height: 0;
                    margin: 0;
                    margin-top: 8%;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    /****** landing page ******/
    .localisation-reservation {
        width: 100dvw;
        .localisation {
            width: 100%;
            height: 55px;
            padding-bottom: 0;

            i, p {
                margin-top: -5px;
            }
        }

        .reservation {
            width: 100%;
            padding: 38px 15px 27px 15px;

            h2 {
                font-size: 2.5rem;
                line-height: 2.93rem;
                margin-top: -10px;
                margin-bottom: 0;
            }

            p {
                margin: 30px 0;
            }
        }
    }
  
    .fonctionnement {
        flex-direction: row;
        gap: 0 2.75dvw;
        padding-top: 12.5dvh;
        padding-bottom: 6dvh;

        h2 {
            top: 6dvh;
            left: 12.5dvw;
        }

        #first-left-fonc-button {
            margin-left: 13.2dvw;
        }
    }
    
    .restaurants {
        width: 100dvw;
        display: flex;
        flex-direction: column;
        padding: 5.8dvh 0 3.4dvh;

        h2 {
            top: 3.25dvh;
            left: 12.5dvw;
        }

        .restaurant-cards {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 4.4dvh 5dvw 0 5dvw;
            gap: 6dvh 7dvw;

            .restaurant-card {
                width: 34dvw;
                height: 30.5dvh;
                box-sizing: border-box;
                margin-bottom: 0;

                .index-image {
                    height: 65%;
                    object-fit: cover;
                    object-position: 50% 60%;
                    border-radius: 15px 15px 0 0;
                }

                .card-content .text-left {
                    padding-left: 1.2dvw;
                }
            }
        }
    }
}