/****** fonts system ******/
/***** variables ******/
/****** family ******/
$font-family-primary: 'Shrikhand', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;
/****** weight ******/
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;
/****** size *****/
$font-size-large: 2.5rem;