/****** colors ******/
$primary-color: #9356dc;
$primary-color-light: #a880da;
$secondary-color: #ff79da;
$secondary-color-light: #fa96de;
$tertiary-color: #99e2d0;
$new-color: #008766;
$main-backgrd-color: #f6f6f6;
$main-backgrd-color-light: #fafafa;
$function-button-color: #7e7e7e;

/****** fonts ******/
/****** family ******/
$font-family-primary: 'Shrikhand', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;
/****** weight ******/
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;
/****** size *****/
$font-size-large: 2.5rem;