$primary-color: #9356dc;
$primary-color-light: #a880da;
$secondary-color: #ff79da;
$secondary-color-light: #fa96de;
$tertiary-color: #99e2d0;
$new-color: #008766;
$main-backgrd-color: #f6f6f6;
$main-backgrd-color-light: #fafafa;
$function-button-color: #7e7e7e;

$font-family-primary: 'Shrikhand', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-size-large: 2.5rem;

@mixin font-family($family) {
    font-family: $family;
}
@mixin font-weight($weight) {
    font-weight: $weight;
}
@mixin font-size($size) {
    font-size: $font-size-large;
}
/****** placeholders ******/
%font-title {
    @include font-family($font-family-primary)
}
%font-base {
    @include font-family($font-family-secondary);
}
%font-bold {
    @include font-weight($font-weight-bold);
}
%font-medium {
    @include font-weight($font-weight-medium);
}
%font-light {
    @include font-weight($font-weight-light);
}
%font-large {
    @include font-size($font-size-large);
}