.menu {
    .menu-item {
        .row-check {
            .dish-content {
                transition: 
                    width 0.5s ease-in-out,
                    opacity 0.5s ease-in-out;
            }

            .dish-check-background {
                transform: translateX(100%);
                transition: 
                    width 0.5s ease-in-out,
                    margin-left 0.5s ease-in-out,
                    transform 0.5s ease-in-out,
                    background-color 0.5s ease-in-out;
            }
        }

        .row-check:hover,
        .row-check:active {
            .dish-check-background {
                width: 60px;
                margin-left: 15px;
                transform: translateX(0);
                background-color: $tertiary-color;
            }

            .dish-content {
                width: calc(100% - 60px);
            }

            .ellipsis {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}