.heart-container {
    position: relative;

    .heart {
        position: absolute;
        height: 21px;
        width: 22px;
        transition: opacity 0.5s ease-in-out;
    }

    // landing page horizontal heart position in the card
    .heart-x-lp {
        right: 7dvw;
    }

    // restaurant page horizontal heart position
    .heart-x-rp {
        right: 8dvw
    }

    .heart-y {
        top: -1.25dvh
    }

    #white, 
    #white1, #white2, #white3, #white4 {
        opacity: 1;
    }

    #gradient, 
    #gradient1, #gradient2, #gradient3, #gradient4 {
        opacity: 0;
    }

    &:hover, &:active {
        #white, 
        #white1, #white2, #white3, #white4 {
            opacity: 0;
        }
        #gradient, 
        #gradient1, #gradient2, #gradient3, #gradient4 {
            opacity: 1;
        }
    }

    /****** restaurant page ******/
    @media (max-width: 374px) {
        #white, #gradient {
            left: -1.1vw;
            top: 25px;
        }
    }

    @media (min-width: 768px) {
        .heart-x-rp {
            right: 0;
            left: 1.5dvw;
        }
    }
    
    @media (min-width: 1024px) {
        /****** landing page ******/
        .heart-x-lp {
            right: 1.75dvw;
        }
        /****** restaurant page ******/
        .heart-x-rp {
            left: 0.5dvw;
        }
    }
}