.button-choose {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    padding: 38px 9vw;
    gap: 0 4vw;
    background: $main-backgrd-color;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:not(:last-child) {
        margin-bottom: 6vh;
    }

    &:hover {
        background: $main-backgrd-color-light;
    }

    .icon-number {
        position: absolute;
        left: -12.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $primary-color;
        color: white;
    }
    
    .fa-mobile-screen-button, 
    .fa-list-ul {
        color: $function-button-color;
    }

    .fa-store {
        color: $primary-color;
    }
}

.button-choose-height {
    height: 50px;
}

.button-choose-width {
    width: 86vw;
}
/****** media queries ******/
/***** medium devices ******/
@media (min-width: 768px) {
    .button-choose {
        gap: 0 2vw;
        padding: 38px 4vw;
    }

    .button-choose-width {
        width: 15vw;
    }
}
/***** large devices ******/
@media (min-width: 1024px){
    .button-choose {
        margin-top: 4px;

        gap: 0 1.3vw;
        padding: 38px 2.5vw;

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    .button-choose-width {
        width: 22.5vw;
    }
}