/****** Explorer nos restaurants ******
*
****** Commander ******/
.explore-command {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    margin-bottom: 0;
}
/****** for your information
in case of modification 
in the HTML 
of below classes 
application limited to 4 classes per element
the readability decision I followed is:
-> 1 whitespace on the right before new line
-> tabulations on the left to indent as a first technical try
******/
.button-explore-command {
    border-radius: 20px;
    border: none;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
}

.button-explore-command-height {
    height: 50px;
}

.button-explore-width {
    width: 218px;
}

.button-command-width-vertical-margin {
    width: 186px;
    margin: 27px 0 39px 0;
}

.button-explore-command:hover {
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.3);
}

.button-explore-command-color {
    background: linear-gradient(to bottom, $secondary-color, $primary-color);
}

.button-explore-command-color:hover {
    background: linear-gradient(to bottom, $secondary-color-light, $primary-color-light);
}