body {
    width: 100dvw;
}

.header-page {
    display: flex;
    align-items: center;

    a {
        padding-left: 2dvw;

        i {
            font-size: 30px;
        }
    }

    h1 {
        display: flex;
        justify-content: center;
        flex: 1;
        margin-right: 5.5dvw;
    }
}

main {
    width: 100%;
}

.page-img-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    picture {
        width: 100%;

        .resto-image {
            width: 100%;
            height: 383px;
            object-fit: cover;
            object-position: 50% 60%;
        }
    }

    .img-cover {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -65px;
        padding-top: 32px;
        padding-bottom: 12px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        padding-left: 5vw;
        padding-right: 2.6vw;
        box-sizing: border-box;
        object-fit: cover;
        object-position: center;
        position: relative;
        background-color: $main-backgrd-color;

        h1 {
            margin: 0;
        }
    }
}

.menu-width {
    width: 100%;
}

.menu {
    background-color: $main-backgrd-color;

    .paragraph__menu {
        margin-bottom: 4px;
    }

    .paragraph__menu__entrees {
        margin-top: 15px;
    }

    .line {
        width: 40px;
        height: 3px;
        background-color: $tertiary-color;
    }

    .menu-left {
        margin-left: 4vw;
    }

    .menu-item {
        cursor: pointer;
        margin: 12.5px 15px;
        border-radius: 15px;
        box-shadow: 0 8px 4px rgba(0, 0, 0, .05);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: white;

        .row-check {
            display: flex;
            justify-content: space-between;
            align-items: stretch;

            .dish-content {
                flex-grow: 1;
                padding: 15px 0 15px 15px;
                transition: 
                    width 0.5s ease-in-out,
                    opacity 0.5s ease-in-out;
                overflow: hidden;

                h4,
                span {
                    display: inline;
                }

                h4 {
                    margin-top: 0;
                    margin-bottom: 5px;
                }

                .align-price {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                }
            }

            .dish-check-background {
                width: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                transform: translateX(100%);
                transition: 
                    transform 0.5s ease-in-out,
                    background-color 0.5s ease-in-out,
                    width 0.5s ease-in-out;

                .fa-circle-check {
                    font-size: 1.5rem;
                    color: white;
                }
            }
        }

        .row-check:hover .dish-check-background,
        .row-check:active .dish-check-background {
            width: 60px;
            margin-left: 15px;
            transform: translateX(0);
            background-color: $tertiary-color;

            .dish-content {
                width: calc(100% - 60px);
            }

            .ellipsis {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
/****** restaurant page ******/
@media (max-width: 374px) {
    .img-cover{
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .menu-width {
        width: 75.5dvw;
    }

    .page-img-container {
        .img-cover {
            width: 75.5dvw;
            display: flex;
            justify-content: center;
            padding-left: 13px;

            .title-h2h3__restaurant-name {
                margin-right: 2%;
            }
        }
    }
}

@media (min-width: 1024px) {
    /***** restaurant page ******/
    .menu {
        .menu-left {
            margin-left: 14.5vw;
            margin-right: 14.5vw;
        }

        .menu-item {
            margin-left: 14.5vw;
            margin-right: 14.5vw;
        }
    }
}