@-ms-keyframes dishes-fade-in {
    0% {
        opacity: 0;
        transform: translateY(+50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-o-keyframes dishes-fade-in {
    0% {
        opacity: 0;
        transform: translateY(+50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-moz-keyframes dishes-fade-in {
    0% {
        opacity: 0;
        transform: translateY(+50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes dishes-fade-in {
    0% {
        opacity: 0;
        transform: translateY(+50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes dishes-fade-in {
    0% {
        opacity: 0;
        transform: translateY(+50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (prefers-reduced-motion) {
    .menu {
        #entrees {
            -ms-animation: dishes-fade-in 6s ease-in-out;
            -o-animation: dishes-fade-in 6s ease-in-out;
            -moz-animation: dishes-fade-in 6s ease-in-out;
            -webkit-animation: dishes-fade-in 6s ease-in-out;
            animation: dishes-fade-in 6s ease-in-out;
        }

        #plats {
            -ms-animation: dishes-fade-in 6s 6s ease-in-out;
            -o-animation: dishes-fade-in 6s 6s ease-in-out;
            -moz-animation: dishes-fade-in 6s 6s ease-in-out;
            -webkit-animation: dishes-fade-in 6s 6s ease-in-out;
            animation: dishes-fade-in 6s 6s ease-in-out;
        }

        #desserts {
            -ms-animation: dishes-fade-in 6s 12s ease-in-out;
            -o-animation: dishes-fade-in 6s 12s ease-in-out;
            -moz-animation: dishes-fade-in 6s 12s ease-in-out;
            -webkit-animation: dishes-fade-in 6s 12s ease-in-out;
            animation: dishes-fade-in 6s 12s ease-in-out;
        }
    }
}